// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  color: grey;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  border: solid var(--border-color);
  border-width: 1px 0;
  display: block;
  padding: var(--spacer);
  text-decoration: none;
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  background-color: var(--border-color);
}

@media (min-width: 30em) {
  .pagination {
    margin: var(--spacer-3) 0;
  }

  .pagination-item {
    border-width: 1px;
    float: left;
    width: 50%;

    &:first-child {
      border-bottom-left-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
      margin-bottom: 0;
    }
    &:last-child {
      border-bottom-right-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      margin-left: -1px;
    }
  }
}
